<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openconference"
    >

  <application
      android:name="de.droidcon.DroidconBerlinApp"
      tools:replace="android:name"
      >

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="INSERT-API-KEY"/>
  </application>

</manifest>